<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graduate.cinemabackend.board.dao.BoardMapper">
    <!-- 공지사항 목록 -->
    <select id="notiList" resultType="Map">
        SELECT
            noti_no, mem.mem_name, noti_title, noti_cnt, date_format(noti.reg_date, '%Y-%m-%d %H:%i:%s') as reg_date
        FROM
            cs_noti noti
        JOIN
            member mem ON mem.mem_no = noti.mem_no
        WHERE
            noti.use_flag = 'Y'
        ORDER BY
            reg_date DESC
    </select>
    <!-- 공지사항 조회수 증가 -->
    <update id="increaseCnt" parameterType="String">
        UPDATE
            cs_noti
        SET
            noti_cnt = noti_cnt + 1
        WHERE
            use_flag = 'Y'
            and noti_no = #{noti_no}
    </update>
    <!-- 공지사항 상세보기 -->
    <select id="detailNoti" parameterType="String" resultType="Map">
        SELECT
            noti_no, noti_title, mem.mem_name, noti_content, noti_cnt, date_format(noti.reg_date, '%Y-%m-%d') as reg_date
        FROM
            cs_noti noti
        JOIN
            member mem ON mem.mem_no = noti.mem_no
        WHERE
            noti.use_flag = 'Y'
            and noti_no = #{noti_no}
    </select>
    <!-- 문의사항 목록 -->
    <select id="qnaList" resultType="Map">
        SELECT
            qna_no, mem.mem_name, qes_title, date_format(qes_reg_date, '%Y-%m-%d %H:%i:%s') as reg_date
        FROM
            cs_qna qna
        JOIN
            member mem ON mem.mem_no = qna.qes_mem_no
        WHERE
            qna.use_flag = 'Y'
        ORDER BY
            reg_date DESC
    </select>
    <!-- 문의사항 상세보기 -->
    <select id="detailQna" parameterType="String" resultType="Map">
        SELECT
            qna_no, qm.mem_no as qes_mem_no, qm.mem_name as qes_mem_name, qes_title, qes_content, am.mem_no as ans_mem_no, am.mem_name as ans_mem_name, ans_content,
            date_format(qes_reg_date,'%Y-%m-%d %H:%i:%s') as qes_reg_date, date_format(ans_reg_date,'%Y-%m-%d %H:%i:%s') as ans_reg_date
        FROM
            cs_qna qna
        LEFT JOIN
            member qm ON qm.mem_no = qna.qes_mem_no
        LEFT JOIN
            member am ON am.mem_no = qna.ans_mem_no
        WHERE
            qna.use_flag = 'Y'
            and qna_no = #{qna_no}
    </select>
    <!-- 문의사항 등록 -->
    <insert id="createQna" parameterType="Map">
        INSERT INTO
            cs_qna(
                qes_mem_no,
                qes_title,
                qes_content,
                qes_reg_date,
                qes_mod_date
            ) VALUES(
                #{qes_mem_no},
                #{qes_title},
                #{qes_content},
                now(),
                now()
            )
    </insert>
    <!-- 문의사항 삭제 -->
    <update id="deleteQna" parameterType="Map">
        UPDATE
            cs_qna
        SET 
            use_flag = 'N',
            qes_mod_date = now()
        WHERE
            qna_no = #{qna_no}
            and qes_mem_no = #{qes_mem_no}
    </update>
</mapper>