<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graduate.cinemabackend.detail.dao.DetailMapper">
    <!-- 영화 상세정보 가져오기 -->
    <select id="getDetailInfo" parameterType="String" resultType="Map">
        SELECT
            mov.mov_no, mov_title, mov_titleEng, mov_director, mov_actor, mov_date, mov_posterURL,
            mov_state, mov_dday, mov_nation, mov_runtime, mov_intro, mov_rating, mov_genre,
            COUNT(lm.mov_no) as likeCnt
        FROM
            movie mov
        LEFT JOIN
            like_movie lm ON lm.mov_no = mov.mov_no
        WHERE
            mov.use_flag = 'Y'
            and mov.mov_no = #{mov_no}
    </select>
    <!-- 영화 리뷰 가져오기 -->
    <select id="getReview" parameterType="String" resultType="Map">
        SELECT
            rev.rev_no, m.mem_no, m.mem_name, m.mem_id, rev.rev_rating, rev.rev_content, 
            DATE_FORMAT(rev.reg_date, '%Y/%m/%d %H:%i(%p)') AS reg_date
        FROM
            review rev
        JOIN
            member m ON m.mem_no = rev.mem_no
        WHERE
            rev.use_flag = 'Y'
            and rev.mov_no = #{mov_no}
        ORDER BY
            rev.reg_date DESC
    </select>
    <!-- 리뷰 작성하기 -->
    <insert id="createReview" parameterType="Map">
        INSERT INTO review(
            mem_no,
            mov_no,
            rev_rating,
            rev_content,
            reg_date   
        ) VALUES(
            #{mem_no},
            #{mov_no},
            #{rev_rating},
            #{rev_content},
            now()
        )
    </insert>
    <!-- 리뷰 삭제 -->
    <update id="deleteReview" parameterType="Map">
        UPDATE 
            review
        SET
            use_flag = 'N',
            mod_date = now()
        WHERE
            rev_no = #{rev_no}
            and mov_no = #{mov_no}
            and mem_no = #{mem_no}
    </update>
    <!-- 좋아요 유무 체크 -->
    <select id="checkLike" parameterType="Map" resultType="boolean">
        SELECT
            COUNT(1)
        FROM
            like_movie
        WHERE
            mem_no = #{mem_no}
            and mov_no = #{mov_no}
            and use_flag = 'Y'
    </select>
    <!-- 좋아요 삭제 -->
    <delete id="deleteLike" parameterType="Map">
        DELETE FROM
            like_movie
        WHERE
            mem_no = #{mem_no}
            and mov_no = #{mov_no}
    </delete>
    <!-- 좋아요 삽입 -->
    <insert id="insertLike" parameterType="Map">
        INSERT INTO
            like_movie(
                mem_no,
                mov_no,
                reg_date
            ) VALUES(
                #{mem_no},
                #{mov_no},
                now()
            )
    </insert>
</mapper>