<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graduate.cinemabackend.main.dao.MainMapper">
    <!-- 영화리스트 가져오기 -->
    <select id="getMovieList" resultType="Map">
        SELECT
            mov_no, mov_posterURL
        FROM
            movie
        WHERE
            use_flag = 'Y'
        ORDER BY mov_rank
        LIMIT 5
    </select>
</mapper>