<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graduate.cinemabackend.manage.dao.ManageMapper">
    <!-- 문의사항 답변 -->
    <update id="answerQna" parameterType="String">
        UPDATE
            cs_qna
        SET
            ans_mem_no = #{mem_no},
            ans_content = #{ans_content},
            ans_reg_date = now(),
            ans_mod_date = now()
        WHERE
            use_flag = 'Y'
            and qna_no = #{qna_no}
    </update>
    <!-- 공지사항 쓰기 -->
    <insert id="createNoti" parameterType="Map">
        INSERT INTO
            cs_noti(
                mem_no,
                noti_title,
                noti_content,
                reg_date,
                mod_date
            ) VALUES(
                #{mem_no},
                #{noti_title},
                #{noti_content},
                now(),
                now()
            )
    </insert>
    <!-- 리뷰 삭제 -->
    <delete id="manageReview" parameterType="String">
        DELETE FROM
            review
        WHERE
            rev_no = #{rev_no}
    </delete>
</mapper>