<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graduate.cinemabackend.schedule.dao.ScheduleMapper">
    <select id="compare" parameterType="Map" resultType="Map">
        SELECT 
            th.th_name, h.hall_name, h.hall_seats, sch.sch_start, sch.sch_end, th.th_brand
        FROM 
            schedule sch
        JOIN 
            hall h ON sch.hall_no = h.hall_no
        JOIN 
            theater th ON h.th_no = th.th_no
        JOIN 
            movie m ON sch.mov_no = m.mov_no
        WHERE 
            m.mov_no = #{mov_no}
            and sch.sch_date = 
                <choose>
                    <when test="sch_date == null">
                        current_date()              <!-- 날짜 선택이 안되었을 때 오늘 날짜로 -->
                    </when>
                    <otherwise>
                        #{sch_date}
                    </otherwise>
                </choose>
            and th.th_region = 
                <choose>
                    <when test="th_region == null">
                        '부평구'                    <!-- 지역 선택이 안되었을 때 기본값 부평구로 -->
                    </when>
                    <otherwise>
                        #{th_region}
                    </otherwise>
                </choose>
            and sch.use_flag = 'Y'
            and th.use_flag = 'Y'
        ORDER BY
            th.th_brand asc,
            <!-- 관 순서대로 -->
            CAST(SUBSTRING_INDEX(h.hall_name, '관', 1) AS UNSIGNED) ASC 
    </select>
</mapper>