<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graduate.cinemabackend.user.dao.UserMapper">
    <!-- 로그인 -->
  <select id="selectUserInfo" parameterType="Map" resultType="Map">
    SELECT 
      mem_name, mem_id, mem_pwd, mem_class
    FROM
      member
    WHERE
      mem_id = #{mem_id}
      AND use_flag = 'Y'
  </select>
  <!-- 회원가입 -->
  <insert id="signup" parameterType="Map">
    INSERT INTO
        member(
            mem_name, mem_id, mem_pwd, mem_phone, mem_birth, mem_email, reg_date,
        )
    VALUES(
        #{mem_name}, #{mem_id}, #{mem_pwd}, #{mem_phone}, #{mem_birth}, #{mem_email}, now()
    )
        
  </insert>
  <!-- 아이디 중복체크 -->
  <select id="idCheck" parameterType="String" resultType="boolean">
    SELECT
      COUNT(1)
    FROM
      member
    WHERE
      use_flag = 'Y'
      and mem_id = #{mem_id}
  </select>
  <!-- 회원정보 조회 -->
  <select id="userInfo" parameterType="String" resultType="Map">
    SELECT
      mem_name, mem_id, mem_phone, mem_birth, mem_email
    FROM
      member
    WHERE
      use_flag = 'Y'
      and mem_id = #{mem_id}
  </select>
  <!-- 회원정보 수정 -->
  <update id="modifyUserInfo" parameterType="Map">
    UPDATE
      member
    SET
      mem_name = #{mem_name},
      mem_id = #{mem_id},
      mem_phone = #{mem_phone},
      mem_birth = #{mem_birth},
      mem_email = #{mem_email},
      mod_date = now()
    WHERE
      use_flag = 'Y'
      and mem_id = #{now_id}
  </update>
  <!-- 회원탈퇴 -->
  <update id="deleteAccount" parameterType="String">
    UPDATE
      member
    SET
      use_flag = 'N',
      mod_date = now()
    WHERE
      mem_id = #{mem_id}
  </update>
</mapper>